@import url("https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans");
body {
  font-family: "Work Sans", sans-serif;
  background-color: rgb(29, 29, 29);
  margin: 0;
  padding: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

a {
  color: rgb(26, 157, 218);
  transition: color 0.5s ease;
}

a:hover {
  color: rgb(50, 207, 255);
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlink {
  display: inline;
  padding: 12px;
}

#siteTitle {
  font-size: 10em;
  color: white;
}
