// Single Project Page
.proj-nav {
  display: flex;
  justify-content: space-evenly;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  width: 100%;
  border-bottom: 1px solid;
  padding: 5px;
  text-align: center;
  position: fixed;
  top: 0;
  h4 {
    margin: 0;
    color: #444;
  }
  a {
    align-items: center;
    padding-top: 20px;
  }
}

.proj-body {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
  margin-top: 120px;
  a {
    color: $secondary-color;
    font-weight: bold;
    &:hover {
      color: set-text-color($primary-color);
      @include easeOut;
    }
  }
  ul {
    list-style-type: none;
  }
}

.placeholder {
  height: 64px;
  width: 72px;
}
