@import "config";
@import "menu";
@import "about";
@import "projects";
@import "singleProject";
@import "contact";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

code {
  color: rgb(240, 168, 2);
  background-color: rgb(71, 70, 70);
  font-size: 1.2rem;
}

::selection {
  background: #b7fdff;
}

// Headings
h1,
h2,
h3 {
  @include noSelect;
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
  &:hover {
    color: $secondary-color;
    @include easeOut();
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // this sets the height of main - regardless of content- to be 100 viewport height,
  // minus the height of our footer, which pushes the footer to the bottom
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
    }
  }

  &#home {
    @include fade;
    animation: fadeIn 1.5s;
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// Button Styles so we can use them elsewhere
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  @include easeOut;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
